*{
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div{
  width: 100%;
  justify-content: space-around;

}

#ourBoard{
  /*animation: App-logo-spin infinite 150s linear;*/
  height: 300px;
  width: 302px;
  border: 1px solid black;
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

#aBox{
  height: 100px;
  max-width: 100px;
  float: left;
  border: 1px solid black;
  justify-content: center;
  margin-top: 0px;
}

.row{
  margin-top: 0px;
  justify: right;
}
